/*
Author :Kwadwo Adutwum , Nicknamee: Optimistic Email:ka2526@columbia.edu
This is a responsive web project build from scratch using HTML,CSS,JavaScript
This is a self-taught exercise aimed at implementing concepts into full project
Edits and notes will be incrementally added as and when needed

Mac shortcut for file paths : right-click on file, Shift+Option reveals path
CTRL-SHIFT-H shortcut key to preview HTML text file in atom text editor

*/


.mainLogo {
  width: 120px;
  height: : 120px;
  border-color: skyblue;
  border-width: 10px;
  border-style: solid;
  border-radius:50%;
  text-align: center;
  float:left;
}

.theme {
  width: 120px;
  height: : 120px;
  border-color: skyblue;
  border-width: 10px;
  border-style: solid;
  border-radius:50%;
  text-align: center;
  float:left;
}

h1 {
  text-align: center;
  background-color: rgba(45, 45, 45, .22)

}

h2 {
  top:0px;
}

div {
  background: url("images/Officemockup1.JPEG");
}

body {
  background: url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");



  }

/*TAKEN FROM CREECODECAMP

NOTEES
alternate border radius
border-radius:10px;
border-radius:100px
*/
/*
top:50px;
bottom:50px;
position:absolute;

z-index: 2;


red (#FF0000) and cyan (#00FFFF)
green (#00FF00) and magenta (#FF00FF)
blue (#0000FF) and yellow (#FFFF00)

Color	Hex Code
orange	#FF7F00
cyan	#00FFFF
raspberry	#FF007F


Color	HSL
red	hsl(0, 100%, 50%)
yellow	hsl(60, 100%, 50%)
green	hsl(120, 100%, 50%)
cyan	hsl(180, 100%, 50%)
blue	hsl(240, 100%, 50%)
magenta	hsl(300, 100%, 50%)

background: linear-gradient(90deg, red, yellow, rgb(204, 204, 255));

background: linear-gradient(35deg, #CCFFFF, #FFCCCC);

repeating-linear-gradient(
      45deg,
      yellow 0px,
      blue 40px,
      green 40px,
      red 80px
    );


    repeating-linear-gradient(
      45deg,
      yellow 0px,
      yellow 40px,
      black 40px,
      black 80px
    );

    transform: scale(2.1);

    div:hover {
      transform: scale(1.1);
    }

    p {
  transform: skewX(-32deg);
}


.center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 25px 10px 0px 0px #f5f3ce;
  }
  *********************heart start *********************
  <style>
  .heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 50px;
    width: 50px;
    transform:rotate(-45deg) ;

  }
  .heart::after {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
  }
  .heart::before {
    content: "";
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
  }

</style>
<div class="heart"></div>

*********************heart end *********************

********animation  with name and @keyframes identifier ********

<style>
  div {
    height: 40px;
    width: 70%;
    background: black;
    margin: 50px auto;
    border-radius: 5px;
  }

  #rect {

animation-name: colorful;
  animation-duration: 1s;
  animation-fill-mode: forwards;


  }

@keyframes colorful {
  0% {
    background-color: blue;
    top: 0px;
  }
50% {
    background-color: red;
    top: 50px;
    opacity: 0.1;

  }

  100% {
    background-color: yellow;
    top: 0px;
  }
}


</style>
<div id="rect"></div>
******** end of animation  with name and @keyframes identifier ********


animation-iteration-count: 5;, with @keyframes

header and nav, the footer, main, div



****************************form *********************************************
<form>
  <fieldset>
    <legend>Choose one of these three items:</legend>
    <input id="one" type="radio" name="items" value="one">
    <label for="one">Choice One</label><br>
    <input id="two" type="radio" name="items" value="two">
    <label for="two">Choice Two</label><br>
    <input id="three" type="radio" name="items" value="three">
    <label for="three">Choice Three</label>
  </fieldset>
</form>
****************************date *********************************************


<label for="pickdate">Preferred Date:</label>
        <input type="date" id="pickdate" name="input1">

        Here's an example:

<p>
Master Camper Cat officiated the cage match between Goro and Scorpion
<time datetime="2013-02-13">last Wednesday</time>, which ended in a draw.
</p>
***********************screen reader ******************************************

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

***********************footer sample ******************************************

<footer>&copy; 2018 Camper Cat</footer>


*****************tabindex sample ******************************************


<div tabindex="1">I get keyboard focus, and I get it first!</div>

<div tabindex="2">I get keyboard focus, and I get it second!</div>


*****************media queery sample ******************************************

@media (max-height: 800px)  {
p {

    font-size: 10px;

  }

  Here is an example that sets a body tag to 30% of the viewport's width.

body { width: 30vw; }

vw (viewport width): 10vw would be 10% of the viewport's width.
vh (viewport height): 3vh would be 3% of the viewport's height.
vmin (viewport minimum): 70vmin would be 70% of the viewport's smaller dimension (height or width).
vmax (viewport maximum): 100vmax would be 100% of the viewport's bigger dimension (height or width).

*****************flex sample ******************************************
https://cssreference.io/flexbox/ flex box options
display: flex
display:grid;

grid-gap :10px 20px;
if there are two values, it will use the first one to set the gap between the rows and the second value for the columns.


flex-direction:row;
flex-direction:column;

flex-grow, flex-shrink, and flex-basis properties can all be set together by using the flex property.


*/


body {
  text-align: center;
}
